.container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100vh;
}

/* The overflow property specifies what should happen if content overflows an element's box */
.box {
  flex: 1;
  /* The overflow is clipped, and the rest of the content will be invisible */
  overflow: hidden;
  transition: 1s;
  margin: 0 1.5%;
  box-shadow: 0 20px 30px rgba(0,0,0,0.1);
  line-height: 0;
}

/* The object-fit CSS property sets how the content of a replaced element, such as an <img> or <video>
, should be resized to fit its container */
.box > img {
  /* close-up on image */
  width: 200%;
  height: calc(100% - 10vh);
  /* If the object's aspect ratio does not match
   the aspect ratio of its box, then the object will be clipped to fit */
  object-fit: cover;
  transform: 0.5s;
}

.box > span {
  font-size: 3vh;
   /* generate block level element */
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  text-transform: uppercase;
}

.box:hover {
  flex: 1 1 50%;
}

.box:hover > img{
  max-width: 100%;
  max-height: 100%;
  /* The entire object is made to fill the box, while preserving its aspect ratio,
   so the object will be "letterboxed" if its aspect ratio does not match the aspect ratio of the box */
  object-fit: contain;
}