body {
  background-color: #333;
}

.box {
  background-color: #4d34d4;
  font-family: sans-serif;
  /* positioned relative to its normal position */
  position: relative;
  /* overflow property specifies what should 
  happen if content overflows an element's box. */
  /* The overflow is clipped, and the 
  rest of the content will be invisible */
  overflow: hidden;
  transition: all 0.3s ease;
  border: 4px solid yellow;
  margin-top: 90px;
}

.box:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

/* before selector inserts something before the content of each selected element (box) */
.box:before {
  content: "";
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: blur(10px);
  transform: rotate(110deg);
  position: absolute;
  top: 25px;
  left: 50px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.box img {
  width: 100%;
  height: 60vh;
  /* height: 100%; */
  transform: scale3d(1.1, 1.1, 1);
  transition: all 0.3s ease-in-out;
}

.box:hover img {
  opacity: 0.5;
  transform: scale(1);
}

.box .box-content {
  color: white;
  background: linear-gradient(to bottom, #4834d4, #192157);
  text-align: center;
  page-break-inside: 15px 5px;
  transform: skew(-10deg) rotate(-12deg) translateX(-150%);
  /* maintain position */
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 25px;
  right: 25px;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.box:hover .box-content {
  opacity: 1;
  transform: skew(-10deg) rotate(-10deg) translateX(0) translateY(-50%);
}

.box .title {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0 0 3px;
  border: 2px solid white;
}

.box .post {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.box .icon {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 20px;
  right: 10px;
  z-index: 2;
}

.box .icon li {
  display: inline-block;
  margin: 0 4px;
  transform: rotateX(90deg);
  transform-origin: bottom center;
  transition: all 0.3s ease-in-out;
}

.box .icon li:nth-child(2){
  transition: all 0.3s ease-in-out 0.3s;
}

.box:hover .icon li {
  transform: rotateX(0);
}

.box .icon li a {
  color: white;
  background: blue;
  /* font-size: 15px; */
  text-align: center;
  line-height: 32px;
  height: 35px;
  width: 35px;
  border: 2px solid white;
  border-radius: 50%;
  display: block;
  transition: all 0.3s;
}
