* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: flex; */
  /*justify-content: center;
  align-items: center; */
  min-height: 100vh;
}

.nav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eaeaea;
  position: sticky;
  top: 0;
}

.logo{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2rem;
  margin-left: 5vw;
}
.menu-btn {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer;
  margin-right: 2vw;
}

#toggle {
  display: none;
}

.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
  align-self: center;
}


.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-16px);
}

.menu-btn__burger::after {
  transform: translateY(16px);
}

/* Animation */
/* by id or by type */

/* #toggle:checked ~ .menu-btn__burger */
/* OR */
input[type=checkbox]:checked ~ label > .menu-btn >.menu-btn__burger {
  /* transform: translateX(-50px); */
  background: transparent;
  box-shadow: none;
}
 /* like here by id */
#toggle:checked ~ label > .menu-btn > .menu-btn__burger::before {
  /* transform: rotate(45deg) translate(35px, -35px); */
  transform: rotate(45deg);
}

input[type=checkbox]:checked ~ label > .menu-btn > .menu-btn__burger::after {
  /* transform: rotate(-45deg) translate(35px, 35px); */
  transform: rotate(-45deg);
}

.menu {
  text-align: center;
  width: 100%;
  display: none;
}
.menu a {
  display: block;
  height: 10vh;
  line-height: 10vh;
  border-bottom: 1px solid #eaeaea;
  margin: 0;
  text-decoration: none;
  color: black;
}

input[type=checkbox]:checked ~ .menu {
  display: block;
  position: absolute;
  top:80px;
  background-color: white;
}

main {
  height: 100vh;
}
